<%- include("partials/header2.ejs") %>

<section class="gradient-background py-5">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <!-- Increased column width for larger image -->
            <div class="col-12 col-md-10 col-lg-6 text-center">
                <img src="../images/homeretail (2).png" 
                     class="d-block mx-auto img-fluid custom-img" 
                     alt="Ayurveda Product" 
                     style="max-width: 90%; height: auto;">
            </div>
            
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-1 text-white lh-3 mb-2">हर दिन ताज़ी सब्ज़ी, आपकी अपनी मंडी से!...</h1>
                <h3 class="display-1 fw-bold text-dark lh-1 mb-3">APNI MANDI </h3>
                
                <p class="lead text-white fst-italic">-product by Vriddhim Yantu</p>

                <a href="/buy" class="btn btn-dark btn-lg px-4">BUY NOW</a>
            </div>
        </div>
    </div>
</section>

<section class="pb-3">
    <img src="../images/pic2.png" class="img-fluid w-100" alt="Full Width Image">
</section>

<section>
  <div class="container px-4 py-5" id="featured-3">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000" class="bi bi-cash-coin" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
              <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
              <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
              <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Quick Payment</h3>
          <p>We provide Quick Payment to our customers so they don't need to worry about delayed payments.</p>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Customer Service</h3>
          <p>We provide fast and quick responses to our customers and offer face-to-face communication for better understanding.</p>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
              <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Trustworthy</h3>
          <p>We believe trust is the most valuable thing in the world. We take strict action against fraudulent activities.</p>
        </div>
      </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>
